aiohttp
asyncio
future==0.18.3
emoji
lxml
wget
gtts
beautifulsoup4
requests
python-telegram-bot==13.11
opencv-python-headless==4.5.4.60
psycopg2-binary
feedparser
faker
hachoir
pykeyboard
pynewtonmath
aiofiles
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
Pillow
CurrencyConverter
google_images_download
google-api-python-client
google-reverse-search==0.1.3
googletrans==4.0.0-rc1
google-trans-new==1.1.9
gpytranslate
coffeehouse
regex
bleach
wikipedia
markdown2
telethon==1.24.0
telegraph
#spamwatch
alphabet_detector
pyrate-limiter==2.8.1
cachetools
ujson
pretty_errors
pygithub
TgCrypto
pyrogram==1.4.7
PyDictionary
git+https://github.com/Sorrybabe/downloader
cloudscraper
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
tswift
python-arq
envparse
#profanity (Credits to Julia)
better_profanity
textblob
NumPy==1.22.0
nekos.py
motor
gpytranslate
fontTools==4.27.1
odmantic
tzlocal
pendulum
fuzzysearch
multicolorcaptcha
git+https://github.com/python-telegram-bot/ptbcontrib.git
git+https://github.com/TotallyNotChase/glitch-this.git
pyYAML>=5.3.1
natsort
html-telegraph-poster
sqlalchemy==1.3.23
